body{
    background-color: rgb(35, 34, 34);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
    /* height: 97vh; */
    margin: 0;
    padding : 0px;
}

.about
{
    color: rgb(34, 174, 122);
    font-size : x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid white; */
    height : auto;
}

.website{
    
    width: 70vw;
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: space-evenly; */
    line-height: 130%;
    /* border : 1px solid white; */
}

#aboutInformation{

    margin-top: 70px;
    /* border : 1px solid white; */
}

.website>div{
    /* display: flex;
    align-items: center;
    flex-direction: column; */
}

.siteName
{
    font-size : xx-large;
    /* color: rgb(7, 201, 198); */
    /* color: rgb(94, 233, 47); */
    /* box-shadow: 0px 20px 0px 0px black; */
}

.motoDiv{
    margin-top : 50px;
    text-align: center;
    margin-bottom : 30px;
}

.moto{
    font-size : x-large;
    text-align:center;
    color: rgb(7, 201, 198);
}

.developers{
    padding-top: 5vh;
    width : 100vw;
    height : 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(22, 21, 21) ;
    margin-bottom: 0px;
    justify-content: space-around;
    padding-bottom: 5vh;
    /* box-shadow: 100px 100px 10px 10px black; */
    /* box-shadow: 0px 100px 0px 0px black; 
    */
    box-shadow: 0px 20px 0px 0px black;
}

.developers .introduction{
    width : 70vw;
    text-align: center;
    font-size: large;
    color : whitesmoke;
}

.sitesLinks{
    display: flex;
    align-items: center;
}
.sitesLinks a{
    margin : 10px;
}

.sitesLinks a img{
    height : 50px;
    transition: transform 200ms ease-in-out;
}
.sitesLinks a img:hover{
    transform: scale(1.1);
}


.navbar {
    width: 80vw;
    /* border: 1px solid rgb(46, 43, 43); */
    display: flex;
    height: 3vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(46, 44, 44);
    color: rgb(10, 193, 190);
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 15px;
    border-radius: 30px;
}

@media screen and (max-width: 752px) {
    .navbar {
        width: 90vw;
        /* border: 1px solid rgb(46, 43, 43); */
        display: flex;
        height: 3vh;
    }
}



@media screen and (max-width: 580px) {
    .navbar {
        width: 90vw;
        /* border: 1px solid rgb(46, 43, 43); */
        display: flex;
        height: 3vh;
    }

    body {
        font-size: 14px;
    }

    .acetype {
        font-size: large;
    }

    .links a {
        padding: 0 5px;
        font-size: normal;
    }
}